<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <integration>
            <general>
                <enable>1</enable>
                <environment>test</environment>
                <sender_id>S0001</sender_id>
                <test_token></test_token>
                <prod_token></prod_token>
            </general>
            <identity>
                <identity_brand_id>ExampleIdentity</identity_brand_id>
                <identity_domain_whitelist>*</identity_domain_whitelist>
                <identity_scenario>0</identity_scenario>
                <identity_min_age>18</identity_min_age>
                <identity_request_name>1</identity_request_name>
                <identity_request_address>1</identity_request_address>
                <identity_request_birthdate>1</identity_request_birthdate>
                <identity_request_gender>0</identity_request_gender>
                <identity_request_telephone>1</identity_request_telephone>
                <identity_request_email>1</identity_request_email>
                <identity_product_agecheck_attribute>agecheck_required</identity_product_agecheck_attribute>
                <identity_block_mode>all_products</identity_block_mode>
                <idin_additional_description>Just like iDeal. It takes no more than one minute and the result is stored for future transactions when you are logged in as a regular customer.</idin_additional_description>
            </identity>
            <payments>
                <payments_brand_id>ExamplePayments</payments_brand_id>
            </payments>
        </integration>
        <payment>
            <epayment>
                <active>0</active>
                <model>Bluem\Integration\Model\EPayment</model>
                <order_status>pending</order_status>
                <title>Bluem ePayment (iDeal)</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <sort_order>5</sort_order>
                <min_order_total>0</min_order_total>
                <max_order_total>9999999</max_order_total>
            </epayment>
        </payment>
    </default>
</config>