<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\CustomerData\Cart" type="Bluem\Integration\CustomerData\Cart" />
    
    <preference for="Magento\Checkout\CustomerData\DefaultItem" type="Bluem\Integration\CustomerData\DefaultItem" />
    <!--
    <preference for="Magento\Customer\CustomerData\Customer" type="Bluem\Integration\CustomerData\Customer" />-->
</config>