<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bluem" translate="label" sortOrder="10">
            <label>Bluem</label>
        </tab>
        <section id="integration" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>All settings</label>
            <tab>bluem</tab>
            <resource>Bluem_Integration::integration_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Account Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable the Bluem module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="environment" translate="label"
                type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Environment</label>
                    <comment>Type in test or prod, if you want to use testing mode or production mode respectively.</comment>
                    <source_model>Bluem\Integration\Model\Config\Source\Environment</source_model>
                </field>

                <field id="sender_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sender ID</label>
                    <comment>Fill in the Sender ID which is provided by Bluem. It starts with an S and contains a number.</comment>
                </field>

                <field id="test_token" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Test Access token</label>
                    <comment>Fill in the Test access token which is provided by Bluem. This setting is stored securely.</comment>
                </field>

                <field id="prod_token" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Production access token</label>
                    <comment>Fill in the Production access token which is provided by Bluem. This setting is stored securely.</comment>
                </field>
            </group>
            
            <group id="identity" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Identity</label>

                <field id="identity_brand_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Identity Brand ID</label>
                    <comment>Fill in the Brand ID which is provided by Bluem for the Identity service. It usually contains your company name and "Identity".</comment>
                </field>
            
                <field id="identity_domain_whitelist"
                    translate="label"
                    type="text"
                    sortOrder="1"
                    showInDefault="1"
                    showInWebsite="0"
                    showInStore="0"
                    canRestore="1"
                >
                    <label>Domain whitelisting</label>
                    <comment>Fill in * to use this plugin on any domain, or input a comma-separated list of domain names (without http(s):// prefix) to ONLY allow checking of identity verification on those domains.</comment>
                </field>

                <field id="identity_min_age" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Minimum age requirement for identity verification</label>
                    <comment>Fill in the minimum age requirement as a whole number.</comment>
                </field>
                
                <field id="identity_product_warning" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Display product warning when required?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Shows a warning banner on product page. (can affect caching)</comment>
                </field>

                <field id="identity_scenario"
                    translate="label"
                    type="select"
                    sortOrder="2"
                    showInDefault="1"
                    showInWebsite="0"
                    showInStore="0">
                    <label>Identification scenario</label>
                    <source_model>Bluem\Integration\Model\Config\Source\IdentityScenario</source_model>
                </field>

                <field id="identity_request_name" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Retrieve and store name?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Do you want to retrieve the user's name from the bank in the identity request?</comment>
                </field>

                <field id="identity_request_address" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Retrieve and store address?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Do you want to retrieve the user's address from the bank in the identity request?</comment>
                </field>

                <field id="identity_request_birthdate" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Retrieve and store birthdate?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Do you want to retrieve the user's birthdate from the bank in the identity request? Will automatically be retrieved if you enforce a minimum age check whilst asking for a full identity report</comment>
                </field>

                <field id="identity_request_gender" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Retrieve and store gender?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Do you want to retrieve the user's gender from the bank in the identity request?</comment>
                </field>

                <field id="identity_request_telephone" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Retrieve and store telephone?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Do you want to retrieve the user's telephone number from the bank in the identity request?</comment>
                </field>

                <field id="identity_request_email" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Retrieve and store email?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Do you want to retrieve the user's email address from the bank in the identity request?</comment>
                </field>

                <field id="identity_product_agecheck_attribute" translate="label" type="text"
                  sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1"
                  >
                    <label>What product attribute do you want to use to activate the identity filter (given the scenario). </label>
                    <comment>If a product has this attribute set to "1" or "true", an identity is required in the checkout.</comment>
                </field>

                <field id="identity_block_mode"
                    translate="label"
                    type="select"
                    sortOrder="2"
                    showInDefault="1"
                    showInWebsite="0"
                    showInStore="0">
                    <label>Identity required for all or specific Products?</label>
                    <comment>Check identity scenario for all products or just for those with the product attribute</comment>
                    <source_model>Bluem\Integration\Model\Config\Source\IdentityBlockMode</source_model>
                </field>

                <field
                    id="idin_additional_description"
                    translate="label"
                    type="textarea"
                    sortOrder="50"
                    showInDefault="1"
                    showInWebsite="0"
                    showInStore="0">
                    <label>Additional information on iDIN/Identity</label>
                    <comment>This will be shown on the page where visitors or users are redirected when they click on "What is this?" or when they visit your site<code>/bluem/identity/information</code></comment>
                </field>
            </group>
            
            <group id="payments" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Payments</label>

                <field id="payments_brand_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>iDEAL Brand ID</label>
                    <comment>Fill in the Brand ID which is provided by Bluem for the ePayments (iDEAL) service. It usually contains your company name and "Payments".</comment>
                </field>

                <field id="payments_paypal_brand_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>PayPal Brand ID</label>
                    <comment>Fill in the Brand ID which is provided by Bluem for the ePayments (PayPal) service.</comment>
                </field>

                <field id="payments_creditcard_brand_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Creditcard Brand ID</label>
                    <comment>Fill in the Brand ID which is provided by Bluem for the ePayments (Creditcard) service.</comment>
                </field>

                <field id="payments_cartebancaire_brand_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Carte Bancaire Brand ID</label>
                    <comment>Fill in the Brand ID which is provided by Bluem for the ePayments (Carte Bancaire) service.</comment>
                </field>

                <field id="payments_sofort_brand_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SOFORT Brand ID</label>
                    <comment>Fill in the Brand ID which is provided by Bluem for the ePayments (SOFORT) service.</comment>
                </field>
            </group>
        </section>
        <section id="payment">
            <group id="epayment" translate="label" type="text" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Bluem ePayment method</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="order_status" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                </field>
                
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                
                <field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
                
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                
                <field id="min_order_total" translate="label" type="text" sortOrder="98" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Order Total</label>
                </field>
                
                <field id="max_order_total" translate="label" type="text" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum Order Total</label>
                </field>
                <field id="model"></field>
            </group>
        </section>
    </system>
</config>

<!-- TYPES:

https://magently.com/blog/magento-2-backend-configuration-source-model/

 -->